<h1 class="bottom-separation">
	Institutions
	<%= add_button("Añadir cita electoral", new_institution_path, 'btn btn-primary btn-lg pull-right') %>
</h1>

<div class="row">
	<div class="col-md-3">
	</div>
	<div class="col-md-9">
		<ul class="list-group">		
			<% @institutions.each do |institution| %>

				<li class="list-group-item">				 
					<div class="row">
					  <div class="col-md-2">
					  	<div class= "thumbnail">
					  		<%= image_tag institution.avatar %>
					    </div>
					  </div>
					  <div class="col-md-8 inline-block">
					  	<h4>
					  		<%=link_to "#{institution.name}", institution_path(institution)%>
					  		<small> &nbsp;
					  			<%=link_to "#{calculate_institution_count(institution)} políticos", polititians_path(:institution_id => institution.id) %>  en ePolitic.org
					  		</small>
					  	</h4>
					  </br>
					  	<div class = "row">
					  		<div class ="col-md-5 text-right">
					  			<p>Con titulación <span class="glyphicon glyphicon-book"></p>
					  		</div>
					  		<div class ="col-md-5">
								<div class="progress">
								  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%=calculate_institution_education(institution)%> %;">
								    <span class="sr-only">60% Complete</span>
								  </div>
								</div>								
							</div>
							<div class="col-md-2">
								<p><%=calculate_institution_education(institution).round(0)%> %</p>
							</div>

						</div>	

					  	<div class = "row">
					  		<div class ="col-md-5 text-right">
					  			<p>Con profesión <span class="glyphicon glyphicon-euro"></p>
					  		</div>
					  		<div class ="col-md-5">
								<div class="progress">
								  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%=calculate_institution_job(institution)%>%;">
								    <span class="sr-only">60% Complete</span>
								  </div>
								</div>
							</div>
							<div class="col-md-2">
								<p><%=calculate_institution_job(institution).round(0)%> %</p>
							</div>
						</div>
					  </div>
					  <div class="col-md-2">
						  <h4 class="bottom-align"><small> 
						  	<span class="dropdown pull-right">
					          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Acciones <b class="caret"></b></a>
					          <ul class="dropdown-menu">
					          	<li><%= edit_link(edit_institution_path(institution)) %></li>
							  	<li><%= delete_link(institution_path(institution))%></li>
					          </ul>
					        </span>
						  </small></h4>
					  </div>
					</div>
				</li>

			<%end%>
		</ul>
	</div>
</div>