<%= params %>
<h1 class="bottom-separation"><%= @institution.name %></h1>

<% if @affiliation.errors.any? %>
	<div class="alert alert-danger">
		<ul>
			<% @affiliation.errors.full_messages.each do |error| %>
				<li><%= error %></li>
			<%end%>			
		</ul>
	</div>
<%end%>

<div class="row">
	<%= form_for (@affiliation), :html => {:multipart => true, :class => "form-horizontal", :role =>"form"} do |f| %>
		<div class="col-sm-offset-2 col-sm-5" >		
			<%= f.text_field :polititian_id, class: "form-control", placeholder: "Añade políticos" %>
			<%= f.text_field :institution_id, class: "hidden", value: "#{@institution.id}" %>
		</div>
		<div class="col-sm-3" >		
			<%= f.submit "Añadir políticos", class: "btn btn-primary" %>
		</div>
	<% end %>
</div>

<div class="row">
	<div class="col-sm-offset-2 col-sm-10" >
		<% @polititians.each do |polititian| %>
			<ul class="no-bullets-list">
				<li><%=polititian.full_name %>
				<%= link_to("Borrar polític@", affiliation_path(Affiliation.where("polititian_id = ? AND institution_id = ?", polititian.id, @institution.id).first), method: :delete, confirm: 'Are you sure?')%>
				</li>
			</ul>
		<%end%>
	</div>	
</div>
