<%= form_for (@group), :html => {:multipart => true, :class => "form-horizontal", :role =>"form"} do |f| %>

	<div class="form-group">
	  <%= f.label :name, "Nombre(*)", class: "control-label col-sm-3" %>
	  <div class="col-sm-9", >
		  <%= f.text_field :name, class: "form-control", placeholder: "Nombre" %>
	  </div>
	</div>	

	<div class="form-group">
	  <%= f.label :avatar, "Foto(*)", class: "control-label col-sm-3" %>
	  <div class="col-sm-9", >
		  <%= f.file_field :avatar, class: "form-control"%>
	  </div>
	</div>

	<div class="form-group">
	  <%= f.label :description, "Descripción", class: "control-label col-sm-3" %>
	  <div class="col-sm-9", >
		  <%= f.text_area :description, class: "form-control",placeholder: "Descripción" %>
	  </div>

	</div>
	<div class="form-group">

	</div>

	<div class="form-group">
		<div class="col-sm-offset-3 col-sm-10">
	  		<%= f.submit class: "btn btn-primary" %>
		</div> 
	</div>	
<% end %>