<h1 class="bottom-separation">Groups</h1>

<div class="row">
	<div class="col-md-3">
		<%= link_to '<span class="glyphicon glyphicon-plus"></span> Add a group'.html_safe, new_group_path, :class => "btn btn-primary btn-lg" %>
	</div>
	<div class="col-md-9">
		<ul class="list-group">		
			<% @groups.each do |group| %>
				<li class="list-group-item">				 
					<div class="row">
					  <div class="col-md-2">
					  	<div class= "thumbnail">
					  		<%= image_tag group.avatar_url.to_s %>
					    </div>
					  </div>
					  <div class="col-md-8">
					  	<h4>
					  		<%=group.name%>
					  	</h4>
					  	<p><%= calculate_group_count(group)%> polititians in CVpolitics</p>					  	
					  	<div class = "row">
					  		<div class ="col-md-5 text-right">
					  			<p>Higher education <span class="glyphicon glyphicon-book"></p>
					  		</div>
					  		<div class ="col-md-7">
								<div class="progress">
								  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%=calculate_group_education(group)%>%;">
								    <span class="sr-only">60% Complete</span>
								  </div>
								</div>
							</div>
						</div>	

					  	<div class = "row">
					  		<div class ="col-md-5 text-right">
					  			<p>Career outside politics <span class="glyphicon glyphicon-euro"></p>
					  		</div>
					  		<div class ="col-md-7">
								<div class="progress">
								  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%=calculate_group_job(group)%>%;">
								    <span class="sr-only">60% Complete</span>
								  </div>
								</div>
							</div>
						</div>


					  </div>
					  <div class="col-md-2">
						  <h4><small>
						  	<%= link_to("Delete", group_path(group), method: :delete, confirm: 'Are you sure?')%>
						  	<%= link_to("Edit", edit_group_path(group))%>
						  </small></h4>
					  </div>
					</div>
				</li>
			<%end%>
		</ul>
	</div>
</div>