<h1 class="bottom-separation">Groups</h1>

<div class="row">
	<div class="col-md-3">
		<%= link_to '<span class="glyphicon glyphicon-plus"></span> Añadir partido político'.html_safe, new_group_path, :class => "btn btn-primary btn-lg" %>
	</div>
	<div class="col-md-9">
		<ul class="list-group">		
			<% @groups.each do |group| %>

				<li class="list-group-item">				 
					<div class="row">
					  <div class="col-md-2">
					  	<div class= "thumbnail">
					  		<%= image_tag group.avatar %>
					    </div>
					  </div>
					  <div class="col-md-8 inline-block">
					  	<h4>

							<%=link_to "#{group.name}", polititians_path({[:search] => "a"}) %>

					  		<small> &nbsp;(<%= calculate_group_count(group)%> políticos en ePolitic.org)</small></h4>
					  </br>
					  	<div class = "row">
					  		<div class ="col-md-5 text-right">
					  			<p>Con titulación <span class="glyphicon glyphicon-book"></p>
					  		</div>
					  		<div class ="col-md-5">
								<div class="progress">
								  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%=calculate_group_education(group)%> %;">
								    <span class="sr-only">60% Complete</span>
								  </div>
								</div>								
							</div>
							<div class="col-md-2">
								<p><%=calculate_group_education(group).round(0)%> %</p>
							</div>

						</div>	

					  	<div class = "row">
					  		<div class ="col-md-5 text-right">
					  			<p>Con carrera profesional <span class="glyphicon glyphicon-euro"></p>
					  		</div>
					  		<div class ="col-md-5">
								<div class="progress">
								  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%=calculate_group_job(group)%>%;">
								    <span class="sr-only">60% Complete</span>
								  </div>
								</div>
							</div>
							<div class="col-md-2">
								<p><%=calculate_group_job(group).round(0)%> %</p>
							</div>
						</div>


					  </div>
					  <div class="col-md-2">
						  <h4><small>
						  	<%= link_to("Editar", edit_group_path(group))%>
						  	<%= link_to("Borrar", group_path(group), method: :delete, confirm: 'Are you sure?')%>
						  </small></h4>
					  </div>
					</div>
				</li>

			<%end%>
		</ul>
	</div>
</div>