<h1 class="bottom-separation"> Sobre ePolitic.org</h1>
<div class="row">
	<div class="col-md-3">
		<ul class="nav nav-pills nav-stacked">
		  <li class=""> <%= link_to "Proyecto", about_us_path(:anchor => "1") %> </li>
		  <li class=""> <%= link_to "Señas de identidad", about_us_path(:anchor => "2") %> </li>
		  <li class=""> <%= link_to "Verificación de información", about_us_path(:anchor => "3") %> </li>
		  <li class=""> <%= link_to "Equipo", about_us_path(:anchor => "4") %> </li>
		</ul>
	</div>
	<div class="col-md-9 box">
		<h2 id = "1" class="bottom-separation">Proyecto</h2>
		<h4>¿Cuál es nuestra misión?</h4>
		<p class="alert alert-info"> La misión de ePolitic.org es <strong> dar a conocer las cualificaciones académicas y profesionales de los políticos españoles </strong> para conseguir <strong>una clase política mejor preparada</strong>.</p>
		<p>Pensamos que solamente nuestros ciudadanos más brillantes y trabajadores deberían tener el honor y la responsabilidad de representarnos. Por eso animamos a la ciudadanía a fijarse en la preparación de los candidatos además de en sus posiciones ideológicas.</p>
		</br>

		<h4>¿Cuáles son nuestros objetivos?</h4>
		<p>Aspiramos a reunir en ePolitic.org los perfiles académicos y profesionales de las cerca de 80,000 personas que viven de la política en España.</p>
		</br>

		<h4>¿Por qué necesitamos políticos mejor preparados?</h4>
		<p>Independientemente de la opción ideológica defendida, políticos mejor preparados lo hacen mejor por varios motivos:</p>
		<ul>
			<li><strong>Mejores políticas.</strong> Gestionar un país, una comunidad autónoma o una ciudad no es tarea sencilla. Nuestros políticos se enfrentan a problemas complejos, que requieren la asimilación de conceptos complejos en poco tiempo y la toma de decisiones complicadas.</li>
			<li><strong>Mayor rotación.</strong> Un político mejor preparado tiene alternativas profesionales fuera de la política, y por lo tanto es menos probable que intente perpetuarse en su cargo.</li>
			<li><strong>Menor corrupción.</strong> Cuanto menos tiempo pase un político en activo, menor es la probabilidad de que se convierta en un político corrupto. Este es precisamente uno de los motivos por los cuales se limita el número de legislaturas de un político en un mismo cargo en otros países.</li>
		</ul>
		</br>

		<h4>¿Qué constituye una buena preparación para un político?</h4>
		<p>Consideramos que independientemente de las posiciones ideológicas que defienda un político, la ciudadanía debe exigir un nivel mínimo de preparación y experiencia. Estos son algunos de los aspectos sobre los cuales ePolitic.org aporta información.</p>
		<ul>
			<li><strong>Títulos académicos.</strong> ¿Qué titulaciones tiene? ¿Guardan alguna relación con su cargo? ¿Qué notas sacó?</li>
			<li><strong>Experiencia profesional fuera de la política</strong> ¿Cuenta con una alternativa profesional fuera de la política? ¿Ha desempeñado algún cargo de responsabilidad en el sector público, social o privado? ¿Cuenta con unas oposiciones que le garanticen un cargo fuera de la política?</li>
			<li><strong>Experiencia en la política</strong> ¿Ha desempeñado algún cargo en la política? ¿Qué actividad ha demostrado? ¿Cuantas intervenciones e iniciativas parlamentarias ha protagonizado?</li>
			<li><strong>Idiomas</strong> ¿Qué idiomas habla y con qué fluidez?</li>
			<li><strong>Logros y premios</strong> ¿Existe algún logro deportivo, cívico o social que acredite su calidad humana y profesional, capacidad de liderzago u otras virtudes o defectos?</li>
		</ul>
		</br>

		<h2 id = "2" class="bottom-separation">Señas de identidad</h2>		
		<p> Estas son las señas de identidad de ePolitic.org</p>
		<ul>
			<li><strong>Plataforma apolítica.</strong> ePolitic.org se mantiene al margen de cualquier debate ideológico. Nuestra única misión es aportar información sobre las cualificaciones académicas y profesionales de los políticos. Para ello nos limitamos a exponer con transparencia aspectos ampliamente aceptados como determinantes de la preparación de un individuo como son la titulación académica o la experiencia profesional.</li>
			<li><strong>Plataforma sin ánimo de lucro.</strong> ePolitic.org es una plataforma sin ánimo de lucro. Nadie se va a lucrar de ninguna manera por su participación en esta inciativa.</li>
			<li><strong>Plataforma constructiva.</strong> ePolitic.org pretende hacer una aportación constructiva al proceso político, y para ellos necesita la implicación activa de los políticos, que serán invitados a participar y mantener sus propias cuentas en ePoliti.org. No somos una plataforma para el linchamiento del político, y aquí no caben los insultos ni las descalificaciones. Buscamos dar una oportunidad a los políticos bien preparados y formados para que participen y expongan esas cualificaciones.</li>
			<li><strong>Plataforma transparente.</strong> ePolitic.org nace sin presupuesto, y funcionará con aportaciones voluntarias de trabajo o donaciones. ePolitic.org se compromete a publicar trimestralmente la totalidad de sus gastos e ingresos.</li>
		</ul>
		</br>

		<h2 id = "3" class="bottom-separation">Verificación de información</h2>
		<p>ePolitic agrega información de varias fuentes.</p>
		<ol>
			<li><strong>Información pública</strong>: buscamos información en distintas fuentes como por ejemplo las páginas web de los partidos políticos, los perfiles de las redes sociales de los políticos o noticias en medios de comunicación.</li>
			<li><strong>Aportaciones de usuari@s</strong>: los usuarios pueden contribuir información a ePolitic.org. El proceso está descrito <%= link_to "aquí", join_us_path %>. Ponemos énfasis en contrastar las fuentes de la información que aportan los usuarios.</li>
			<li><strong>Aportaciones de los propios políticos</strong>: el objetivo último de ePolitic es que los propios políticos utilicen esta o cualquier otra plataforma para trasladar a la ciudadanía sus cualificaciones. Si eres un político y deseas que incluir tu perfil en ePolitic.org o deseas editar información sobre tu perfil ya creado, escríbenos a <strong>info@epolitic.org</strong>.</li>			
		</ol>

		</br>
		<h2 id = "4" class="bottom-separation">Equipo</h2>
		<p><strong>Xabier Vicuña</strong>. Nacido en Nacido en Bilbao hace 35 años, emprendedor digital y fundador de varios proyectos web, fundador entre otros proyectos de la web de empleo www.jobartis.com. </p>
		<p>ePolitic.org cuenta con un amplio <strong>equipo de voluntari@s</strong> que ayudan en tareas de desarrollo, diseño y edición.</p>
		</br>
	</div>
</div>