<div id="myCarousel" class="carousel slide relative" data-ride="carousel">

    <!-- Search -->
  	<div class="search-bar-absolute search-bar-border">
      <%= form_tag polititians_path, method: :get, :class => "navbar-form navbar-left", :role => "search" do %>
        <div class="form-group">
            <%= text_field_tag :term, params[:term], class: "form-control input-lg", id: "search_home", placeholder: "Busca políticos" %>
        </div>
          <%= submit_tag "Buscar", name: nil, class: "btn btn-primary btn-lg" %>
      <% end %>
  	</div>


  <!-- Indicators -->
  <ol class="carousel-indicators carousel-absolute">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1" class=""></li>
    <li data-target="#myCarousel" data-slide-to="2" class=""></li>
  </ol>

  <div class="carousel-inner">
    <div class="item active img-shadow">
      <%= image_tag("carrousel1.png")%>
      <div class="container">
        <div class="carousel-caption">
          <h1>¿Qué preparación tienen los candidatos a las próximas elecciones?</h1>
        </div>
      </div>
    </div>
    <div class="item img-shadow">
      <%= image_tag("carrousel3.png")%>
      <div class="container">
        <div class="carousel-caption">
          <h1>¿Estamos eligiendo a nuestros mejores ciudadanos para representarnos?</h1>
        </div>
      </div>
    </div>
    <div class="item img-shadow">
      <%= image_tag("carrousel2.png") %>
      <div class="container">
        <div class="carousel-caption">
          <h1>¿Quienes son nuestros representantes políticos?</h1>
        </div>
      </div>
    </div>
  </div>

  <a class="left carousel-control bring-up" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
  <a class="right carousel-control bring-up" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>

</div>

<div class="container marketing">
      <div class="row">
        <div class="col-lg-4">
          <%= image_tag("marketing3.gif", :alt => "", :class => "")%>
          <h2>Europeas</h2>
          <p></p>
          <p><%= link_to "Ver »", groups_path, class: "btn btn-success" %></a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <%= image_tag("marketing1.gif", :alt => "", :class => "")%>
          <h2>Partidos políticos</h2>
          <p></p>          
          <p><%= link_to "Ver »", groups_path, class: "btn btn-success" %></a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <%= image_tag("marketing2.gif", :alt => "", :class => "")%>
          <h2>Elecciones</h2>
          <p></p>
          <p><%= link_to "Ver »", groups_path, class: "btn btn-success" %></a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
</div>

