<!-- CARROUSEL -->
<div id="myCarousel" class="carousel slide relative" data-ride="carousel">

    <!-- Search -->

  <div class="search-bar-absolute search-bar-border">        
    <%= form_tag polititians_path, method: :get, :class => "navbar-form navbar-left", :role => "search" do %>
          <%= text_field_tag :term, params[:term], class: "form-control input-lg block-level", id: "search_home", placeholder: "Buscar CV de políticos" %>
          <%= submit_tag "Buscar", name: nil, class: "btn btn-primary btn-lg" %>
    <% end %>       
  </div>


  <!-- Indicators -->
  <ol class="carousel-indicators carousel-absolute">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1" class=""></li>
    <li data-target="#myCarousel" data-slide-to="2" class=""></li>
  </ol>

  <div class="carousel-inner">
    <div class="item active img-shadow">
      <%= image_tag("carrousel1.png")%>
      <div class="container">
        <div class="carousel-caption">
          <h1>¿Qué preparación tienen los candidatos a las próximas elecciones?</h1>
        </div>
      </div>
    </div>
    <div class="item img-shadow">
      <%= image_tag("carrousel3.png")%>
      <div class="container">
        <div class="carousel-caption">
          <h1>¿Estamos eligiendo a nuestros mejores ciudadanos para representarnos?</h1>
        </div>
      </div>
    </div>
    <div class="item img-shadow">
      <%= image_tag("carrousel2.png") %>
      <div class="container">
        <div class="carousel-caption">
          <h1>¿Quienes son nuestros representantes políticos?</h1>
        </div>
      </div>
    </div>
  </div>

  <a class="left carousel-control bring-up" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
  <a class="right carousel-control bring-up" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>

</div>


<!-- BOTON GRANDE -->
<div class="row">
  <div class="bottom-separation col-sm-offset-4 col-sm-4">
    <h1 class="text-center"><small>Los CVs de nuestros políticos</small></h1>
  </div>
</div>
</br>


<!-- MARKETING RESOURCES -->
<div class="container marketing">
      <div class="row">
        <div class="col-lg-4">
          <%= link_to image_tag("marketing4.gif", :alt => "", :class => ""), polititians_path%>
          <h3>Titulación académica</h3>
          <p>¿Qué formación y estudios tiene?¿Cuales son sus titulaciones académicas?</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <%= link_to image_tag("marketing5.gif", :alt => "", :class => ""), polititians_path%>
          <h3>Experiencia profesional</h3>
          <p>¿Tiene experiencia profesional anterior a su vida política? ¿Ha aprobado alguna oposición?</p>          
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <%= link_to image_tag("marketing6.gif", :alt => "", :class => ""), polititians_path%>
          <h3>Vida política</h3>
          <p>¿En qué organizaciones ha militado?¿Cuales han sido sus nombramientos políticos?</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
</div>


<!-- BOTON GRANDE -->
</br>
<div class="row">
  <div class="col-sm-offset-4 col-sm-4">
    <%= link_to "Ver candidatos a elecciones Europeas >>", polititians_path, class: "btn btn-success btn-lg btn-block" %>
  </div>
</div>
</br>
</br>
</br>
</br>

<!-- AYÚDANOS -->

<div class="row text-center">
  <div class="col-sm-offset-4 col-sm-4">
    <h1 class="bottom-separation"><small>Ayúdanos compartiendo el proyecto</small></h1>
    <div class="jumbotron">
        <div class="fb-like" data-href="http://www.epolitic.org" data-width="50" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
        </br></br>
        <div class=""><iframe allowtransparency="true" frameborder="0" scrolling="no"
        src="//platform.twitter.com/widgets/follow_button.html?screen_name=epolitic_org&lang=es"
        style="width:220px; height:20px;" data-count="vertical"></iframe></div>
    </div>
  </div>
</div>
</br>

<!-- MARKETING RESOURCES -->
<div class="container marketing hide">
      <div class="row">
        <div class="col-lg-4">
          <%= link_to image_tag("marketing3.gif", :alt => "", :class => ""), groups_path%>
          <h2>Europeas</h2>
          <p></p>
          <p><%= link_to "Ver »", groups_path, class: "btn btn-success" %></a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <%= link_to image_tag("marketing1.gif", :alt => "", :class => ""), groups_path%>
          <h2>Partidos políticos</h2>
          <p></p>          
          <p><%= link_to "Ver »", groups_path, class: "btn btn-success" %></a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <%= link_to image_tag("marketing2.gif", :alt => "", :class => ""), groups_path%>
          <h2>Elecciones</h2>
          <p></p>
          <p><%= link_to "Ver »", groups_path, class: "btn btn-success" %></a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
</div>