<div id="myCarousel" class="carousel slide relative" data-ride="carousel">
	<div class="search-bar-absolute">
		<form class="navbar-form navbar-left" role="search">
		  <div class="form-group">
		    <input type="text" class="form-control input-lg" placeholder="Buscar políticos">
		  </div>
		  <button type="submit" class="btn btn-default btn-lg btn-primary">Buscar</button>
		</form>
	</div>

  <!-- Indicators -->
  <ol class="carousel-indicators carousel-absolute">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1" class=""></li>
    <li data-target="#myCarousel" data-slide-to="2" class=""></li>
  </ol>

  <div class="carousel-inner">
    <div class="item active img-shadow">
      <%= image_tag("carrousel1.png") %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Seleccionamos a los mejores</h1>
        </div>
      </div>
    </div>
    <div class="item img-shadow">
      <%= image_tag("carrousel2.png")%>
      <div class="container">
        <div class="carousel-caption">
          <h1>¿Seguro?</h1>
        </div>
      </div>
    </div>
    <div class="item img-shadow">
      <%= image_tag("carrousel3.png")%>
      <div class="container">
        <div class="carousel-caption">
          <h1>Descubre los CVs de nuestros políticos</h1>
        </div>
      </div>
    </div>
  </div>

  <a class="left carousel-control bring-up" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
  <a class="right carousel-control bring-up" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>

</div>

<div class="row">
    <%= form_tag("/polititians", method: "get") do %>
      <%= label_tag(:search, "Search for:") %>
      <%= text_field_tag(:search) %>
      <%= submit_tag("Search") %>
    <% end %>
</div>


<div class="container marketing">
      <div class="row">
        <div class="col-lg-4">
          <%= image_tag("marketing1.gif", :alt => "", :class => "")%>
          <h2>Political parties</h2>
          <p>Check polititians by political party.</p>
          <p><a class="btn btn-success" href="http://getbootstrap.com/examples/carousel/#" role="button">See polititians »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <%= image_tag("marketing2.gif", :alt => "", :class => "")%>
          <h2>Institutions</h2>
          <p>Check polititians by institutions.</p>
          <p><a class="btn btn-success" href="http://getbootstrap.com/examples/carousel/#" role="button">See polititians »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <%= image_tag("marketing3.gif", :alt => "", :class => "")%>
          <h2>Elections</h2>
          <p>Check candidates for incoming electoral processes.</p>
          <p><a class="btn btn-success" href="http://getbootstrap.com/examples/carousel/#" role="button">See polititians »</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
</div>

