<%= form_for [@polititian, @exam], :html => {:class => "form-horizontal", :role =>"form"} do |f| %>

	<div class="form-group">
	  <%= f.label :title, "Oposici贸n(*)", class: "control-label col-sm-3" %>
	  <div class="col-sm-9", >
		  <%= f.text_field :title, class: "form-control",placeholder: "Oposici贸n" %>
	  </div>
	</div>	

	<div class="form-group">
	  <%= f.label :description, "Descripci贸n", class: "control-label col-sm-3" %>
	  <div class="col-sm-9", >
		  <%= f.text_area :description, class: "form-control",placeholder: "Descripci贸n" %>
	  </div>
	</div>

	<div class="form-group">
	  <%= f.label :date, "Fecha examen", class: "control-label col-sm-3" %>
	  <div class="col-sm-9 form-inline">
			  <%= f.date_select :date,
			  {:include_blank => "true", :discard_day => "true",:discard_month => "true", :start_year => 1960, :end_year => Date.today.year},
			  {:class => "form-control col-sm-6"} %>
  	  </div>
	</div>


	<div class="form-group">
		<div class="col-sm-offset-3 col-sm-10">
	  		<%= f.submit class: "btn btn-primary" %>
	  		<%= link_to "Cancelar", polititian_path(@polititian.id) %>
		</div> 
	</div>	

<% end %>

