<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
	    <div class="navbar-header">
	        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	          <span class="sr-only">Toggle navigation</span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	        </button>
	        <span class="logo">
	        <%= link_to image_tag("logo.gif", :border => 0, :class => ""), {:action => 'home', :controller => 'site'} %>
	        </span>
	    </div>
	    <div class="collapse navbar-collapse">
	      <ul class="nav navbar-nav">
	        <li class= <%= 'active' if current_page?(root_path) %> ><%= link_to "Inicio", root_path, class: "active" %></li>
	        <li class= <%= 'active' if current_page?(polititians_path) %> ><%= link_to "Políticos", polititians_path, class: "active" %></li>
	        <li class= <%= 'active' if current_page?(groups_path) %> ><%= link_to "Partidos políticos", groups_path %></li>
	        <li class= <%= 'active' if current_page?(institutions_path) %> ><%= link_to "Elecciones", institutions_path %></li>
	      </ul>  
		</div>
	</div>
</nav>
