<div class="box">
	<div class="row">		
		<div class="col-md-3" >
			 <div class="thumbnail">
			 	<%= image_tag @polititian.avatar %>
			 </div>		
		</div>
		<div class="col-md-9">
			<div class="row">
				<div class="col-md-8">
					<h1 class=""><%= @polititian.first_name %> <%= @polititian.last_name %></h1>	
				</div>	
				<div class="col-md-4">
				  	<span class="dropdown pull-right">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Acciones <b class="caret"></b></a>
			          <ul class="dropdown-menu">
					  	<li><%= link_to("Editar", edit_polititian_path(@polititian))%></li>
					  	<li><%= link_to("Borrar", polititian_path(@polititian), method: :delete, confirm: '¿Estás segur@?')%></li>
			          </ul>
			       </span>
				</div>	
			</div>
			<h4>
				<% if @polititian.jobs.political_jobs.count > 0 %>
					<%= @polititian.jobs.political_jobs.first.position %>
					<span class="text-muted"><%= @polititian.jobs.political_jobs.first.employer%></span>
				<% end %>	
			</h4>
			<%= render 'profile_summary_content' %>
		</div>
	</div>
</div>