<h1 class="bottom-separation">Polític@s
<%= link_to '<span class="glyphicon glyphicon-plus"></span> Añadir polític@'.html_safe, new_polititian_path, :class => "btn btn-primary btn-lg pull-right" %>
</h1>


<div class="row">

	<!-- FILTERS -->
	<div class="col-md-3">
		<%= render 'filters' %>
	</div>

	<!-- POLITITIANS MINI-PROFILES -->
	<div class="col-md-9">
		<ul class="list-group">		
			<% @polititians.each do |polititian| %>
				<li class="list-group-item">				
					<div class="row">
					  <div class="col-md-3">
					  	<div class= "thumbnail">
					  		<%= link_to(image_tag(polititian.avatar), polititian_path(polititian)) %>
					    </div>
					  </div>
					  <div class="col-md-7">
					  	<h4>
					  		<%=link_to "#{polititian.first_name} #{polititian.last_name}", polititian_path(polititian)%>
					  	</h4>					  	
					  	<% @polititian = polititian %>
							<%= render 'profile_summary_content' %>
						</br>
					  </div>
					  <div class="col-md-2">
						  <h4 class="bottom-align"><small>
						  	<span class="dropdown pull-right">
				          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Acciones <b class="caret"></b></a>
				          <ul class="dropdown-menu">
					          	<li><%= edit_link(edit_polititian_path(polititian)) %></li>
							  	<li><%= delete_link(polititian_path(polititian))%></li>
				          </ul>
					       </span>
						  </small></h4>
					  </div>
					</div>
				</li>
			<%end%>
		</ul>
	</div>
</div>


