<%= params %>

<h1 class="bottom-separation">Polític@s
<%= link_to '<span class="glyphicon glyphicon-plus"></span> Añadir polític@'.html_safe, new_polititian_path, :class => "btn btn-primary btn-lg pull-right" %>
</h1>

<div class="row">
	<div class="col-md-3">		
    	<%= form_tag polititians_path, method: :get, :class => "", :role => "search" do %>
        	<div class="form-group">
            	<%= text_field_tag :search_input, params[:search_input], class: "form-control input-lg", placeholder: "Busca políticos" %>
        	</div>
        	<%= submit_tag "Filter", name: nil, class: "btn btn-primary btn-lg" %>
    	<% end %>
	</div>
	
	<div class="col-md-9">
		<ul class="list-group">		
			<% @polititians.each do |polititian| %>
				<li class="list-group-item">				 
					<div class="row">
					  <div class="col-md-2">
					  	<div class= "thumbnail">
					  		<%= image_tag polititian.avatar %>
					    </div>
					  </div>
					  <div class="col-md-1">
						  	<div class= "thumbnail">
		 						<%= image_tag polititian.group.avatar %>
						    </div>
					  </div>
					  <div class="col-md-7">
					  	<h4>
					  		<%=link_to "#{polititian.first_name} #{polititian.last_name}", polititian_path(polititian)%>
					  	</h4>					  	
					  	<h5> <%= polititian.group.name %> </h5>
						<p>
						  	<%if polititian.educations.count == 0 %>
							  	<span class="label label-danger"><span class="glyphicon glyphicon-book"></span> Sin titulación</span>
								<%else%>
							  	<span class="label label-success"><span class="glyphicon glyphicon-book"></span> Tiene titulación</span>
							<%end%>
						  	<%if polititian.jobs.count == 0 %>
							  	<span class="label label-danger"><span class="glyphicon glyphicon-euro"></span> Sin experiencia profesional</span>
								<%else%>
							  	<span class="label label-success"><span class="glyphicon glyphicon-euro"></span> Cuenta con experiencia profesional</span>
							<%end%>
							<%if polititian.trials.count != 0 %>
								<h3 class="alert alert-danger"> <span class="glyphicon glyphicon-warning-sign"> On Trial </h3>
							<%end%>	
						</p>  
					  </div>
					  <div class="col-md-2">
						  <h4><small>
						  	<%= link_to("Editar", edit_polititian_path(polititian))%>
						  	<%= link_to("Borrar", polititian_path(polititian), method: :delete, confirm: 'Are you sure?')%>
						  </small></h4>
					  </div>
					</div>
				</li>
			<%end%>
		</ul>
	</div>
</div>


