<div class="row politician-profile">
	<div class="col-md-8">

	<!-- BASIC PROFILE INFO -->

	<%= render 'profile_summary' %>
	</br>

	<!-- BUTTONS -->		

	<div class="text-right">
		<h4>
				<small>Añadir datos:</small> 
				<button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal-trial"><span class="glyphicon glyphicon-plus"></span> Imputación</button>
				<button class="btn btn-xs btn-primary" data-toggle="modal" data-target="#myModal-education"><span class="glyphicon glyphicon-plus"></span> Titulación</button>
				<button class="btn btn-xs btn-primary" data-toggle="modal" data-target="#myModal-job"><span class="glyphicon glyphicon-plus"></span> Experiencia profesional o política</button>
				<button class="btn btn-xs btn-primary" data-toggle="modal" data-target="#myModal-public-exam"><span class="glyphicon glyphicon-plus"></span> Oposición</button>
		</h4>		
	</div>


<!-- DETAILED PROFILE INFO SECTIONS -->

		<div class="row box">

	<!-- CORRUPTION -->		
			<% if @polititian.trials.count != 0 then %>
					<div class="bottom-separation">			
						<div class="row ">
							<div class="col-md-1 text-right">
								<h4><span class="glyphicon glyphicon-eye-open"></span></h4>
							</div>
							<div class="col-md-11">
								<h5 class="">Imputaciones por corrupción</h4>
							</div>								
						</div>	

						<div class="row">
							<div class="col-md-offset-1 col-md-10">
								<ul class = "no-bullets-list">
									<% @trials.each do |trial| %>
									    <li class="alert alert-danger">
										    <h4><strong><span class="icon-bad glyphicon glyphicon-warning-sign"></span> <%= trial.title%></strong></h4>
										    <p><small>
										    		<%= if trial.start_at? then "Desde " + trial.start_at.strftime("%Y") end%> 
										    		<%= if trial.end_at? then "hasta " +trial.end_at.strftime("%Y") end%>
										    </small> <p>
										    
										    <small><%= if !trial.description.nil? then trial.description end %></small>
										    <h5><small> <%= link_to "Editar", edit_polititian_trial_path(@polititian.id, trial.id) %> - <%= link_to "Borrar", polititian_trial_path(@polititian.id, trial.id), method: :delete, confirm: "¿Estás segur@?" %> </small></h5>
										</li>   
									<% end %>
								</ul>
							</div>
						</div>
					</div>				
			<%end%>		


	<!-- EDUCATION -->		
			<div class="bottom-separation">			
				<div class="row ">
					<div class="col-md-1 text-right">
						<h4><span class="glyphicon glyphicon-book"></span></h4>
					</div>
					<div class="col-md-9">
						<h5 class="">Estudios</h5>
					</div>
					<div class="col-md-2 text-center">
					</div>
				</div>	

				<div class="row">
					<div class="col-md-offset-1 col-md-10">
						<h4><small><%= if @polititian.educations.count == 0 then "No se le conocen titulaciones."end %></small></h4>
						<ul class = "no-bullets-list">
							<% @educations.each do |education| %>
							    <li class="well">
								    <h4>
								    	<% if education.not_finished then %>
								    		<span class="label label-warning">NO CONCLUIDOS</span> 
								    	<%end%>	
								    	<strong><%= education.degree%></strong>
								    </h4>
								    <p><strong><%= education.center %></strong>		
											<small><%= if education.start_at? then "desde " + education.start_at.strftime("%Y") end%>
								    		<%= if education.end_at? then " hasta " +education.end_at.strftime("%Y") end%>
								    </small></p>		
								    <small><%= if !education.description.nil? then education.description end %></small>
								    <h5><small> <%= link_to "Editar", edit_polititian_education_path(@polititian.id, education.id) %> - <%= link_to "Borrar", polititian_education_path(@polititian.id, education.id), method: :delete, confirm: "¿Estás segur@?" %> </small></h5>
								</li>   
							<% end %>
						</ul>
					</div>
				</div>
			</div>


	<!-- JOBS OUTSIDE POLITICS & PUBLIC EXAMS-->		
			<div class="bottom-separation">
				<div class="row">			
					<div class="col-md-1 text-right">
						<h4><span class="glyphicon glyphicon-wrench"></span></h4>
					</div>
					<div class="col-md-9">
						<h5>Carrera profesional</h5>
					</div>
					<div class="col-md-2 text-center">
					</div>
				</div>

				<div class="row">
					<div class="col-md-offset-1 col-md-10">
						<h4><small><%= if (@polititian.jobs.non_political_jobs.count + @polititian.exams.count) == 0 then "No se le conoce experiencia profesional fuera de la política."end %></small></h4>
						<ul class = "no-bullets-list">

							<!-- Non Political Jobs -->
							<% @non_political_jobs.each do |job| %>
								<% if !job.political_employer %>
							    <li class="well">
								    <h4>
								    	<strong>
								    		<% if job.currently_work_here %>
								    			<span class="label label-primary">PUESTO ACTUAL</span>
								    		<%end%>
								    		<%= job.position %>
								    		<% if job.salary %>
								    			<span class="label label-default"><%= number_with_delimiter(job.salary) %> € año</span>
								    		<% end %>
								    	</strong>
								    </h4>
										<p>
											<strong><%= job.employer %></strong>
											<small><%= if job.start_at? then "desde " + job.start_at.strftime("%Y") end%>
								    	<%= if job.end_at? then "hasta " + job.end_at.strftime("%Y") end%></small>
									  </p>
								    <small><%= if !job.description.nil? then job.description end %></small>
								    <h5><small><%= link_to "Editar", edit_polititian_job_path(@polititian.id, job.id) %> - <%= link_to "Borrar", polititian_job_path(@polititian.id, job.id), method: :delete, confirm: "¿Estás segur@?" %></small></h5>
									</li>
								<% end %>	   
							<% end %>

							<!-- Exams -->
							<% @exams.each do |exam| %>
							    <li class="well">
								    <h4></strong><span class="label label-success">OPOSICIONES</span> <%= exam.title%></h4>
								    <p>	<small>
								    		<%= if exam.date? then exam.date.strftime("%Y") end%> 
								    	</small></p>
								    <small><%= if !exam.description.nil? then exam.description end %></small>
									<h5><small><%= link_to "Editar", edit_polititian_exam_path(@polititian.id, exam.id) %> - <%= link_to "Borrar", polititian_exam_path(@polititian.id, exam.id), method: :delete, confirm: "¿Estás segur@?" %></small></h5>
								</li>   
							<% end %>
						</ul>	
					</div>
				</div>
			</div>


	<!-- POLITICAL LIFE-->		
			<div class="">
				<div class="row">			
					<div class="col-md-1 text-right">
						<h4><span class="glyphicon glyphicon-bookmark"></span></h4>
					</div>
					<div class="col-md-9">
						<h5>Vida política</h5>
					</div>
					<div class="col-md-2 text-center">
					</div>
				</div>

				<div class="row">
					<div class="col-md-offset-1 col-md-10">
						<h4><small><%= if @polititian.jobs.political_jobs.count == 0 then "No cuenta con actividad política en ePolitic.org." end %></small></h4>
						<ul class = "no-bullets-list">
							<% @jobs.each do |job| %>
								<% if job.political_employer %>
							    <li class="well">
									    <h4>
									    	<strong>
									    		<% if job.currently_work_here %>
									    			<span class="label label-primary">PUESTO ACTUAL</span>
									    		<%end%>
									    		<%= job.position %>
									    		<% if job.salary %>
									    			<span class="label label-default"><%= number_with_delimiter(job.salary) %> € año</span>
									    		<% end %>
										    </strong>
									    </h4>
											<p>
												<strong><%= job.employer %></strong>
												<small><%= if job.start_at? then "desde " + job.start_at.strftime("%Y") end%>
									    	<%= if job.end_at? then "hasta " + job.end_at.strftime("%Y") end%></small>
										  </p>
									    <small><%= if !job.description.nil? then job.description end %></small>
									    <h5><small><%= link_to "Editar", edit_polititian_job_path(@polititian.id, job.id) %> - <%= link_to "Borrar", polititian_job_path(@polititian.id, job.id), method: :delete, confirm: "¿Estás segur@?" %></small></h5>
									</li>
								<% end %>									   
							<% end %>
						</ul>	
					</div>
				</div>
			</div>
		</div>
	</div>



<!-- RIGHT COLUMN SECTION -->

	<div class="col-md-4 box">
		<h4>Compartir</h4>
		<span class='st_facebook_large' displayText='Facebook'></span>
		<span class='st_twitter_large' displayText='Tweet'></span>
		<span class='st_googleplus_large' displayText='Google +'></span>
		<span class='st_pinterest_large' displayText='Pinterest'></span>
		<span class='st_linkedin_large' displayText='LinkedIn'></span>
		<span class='st_email_large' displayText='Email'></span>
	</div>

	<div class="col-md-4 box">
		<h4>Comentar</h4>
			<div class="fb-comments" data-href= <%=request.original_url%> data-width="318" data-numposts="5" data-colorscheme="light"></div>
	</div>			




<!-- MODALS -->

	<!-- Modal Trials-->
	<div class="modal fade" id="myModal-trial" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="myModalLabel">Añadir imputación</h4>
	      </div>
	      <div class="modal-body">
			<%= render 'trials/trial_form' %>
	      </div>
	      <div class="modal-footer">
<!-- 	  		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
	  	  </div>	
	    </div>
	  </div>
	</div>


	<!-- Modal Educations-->
	<div class="modal fade" id="myModal-education" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="myModalLabel">Añadir titulación</h4>
	      </div>
	      <div class="modal-body">
			<%= render 'educations/education_form' %>
	      </div>
	      <div class="modal-footer">
<!-- 	  		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
	  	  </div>	
	    </div>
	  </div>
	</div>

	<!-- Modal Jobs-->
	<div class="modal fade" id="myModal-job" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="myModalLabel">Añadir empleo</h4>
	      </div>
	      <div class="modal-body">
			<%= render 'jobs/job_form' %>
	      </div>
	      <div class="modal-footer">
<!-- 	  		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
	  	  </div>	
	    </div>
	  </div>
	</div>

	<!-- Modal Exams-->
	<div class="modal fade" id="myModal-public-exam" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="myModalLabel">Añadir oposición</h4>
	      </div>
	      <div class="modal-body">
			<%= render 'exams/exam_form' %>
	      </div>
	      <div class="modal-footer">
<!-- 	  		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
	  	  </div>	
	    </div>
	  </div>
	</div>

</div>