
<div class="row">
	<div class="col-md-9">

		<div class="row box">

			<div class="col-md-3" >

				<%= link_to '<span class="glyphicon glyphicon-pencil"></span>  Editar'.html_safe, edit_polititian_path, :class => "btn btn-primary btn-lg" %>

				 <div class="thumbnail">
				 	<%= image_tag("carlos_fabra.jpg", :alt => "" )%>
				 </div>
			</div>
			<div class="col-md-9">
				<h1><%= @polititian.first_name %> <%= @polititian.last_name %></h1>
				<p><%= @polititian.political_position %></p>
			</div>
		</div>

		<div class="row box">

			<div class="row bottom-separation">	
				<div class="col-md-1 text-right">
					<h3><span class="icon-home"></span>
						<span class="glyphicon glyphicon-warning-sign"></span></h3>
				</div>
				<div class="col-md-9">
					<h3>Corrupción</h3>
			        <p>Imputado por corrupción</p>
				</div>
				<div class="col-md-2">
					<%= image_tag("fail.ico", :alt => "", size: "100" )%>
				</div>
			</div>

			<div class="row bottom-separation">	
				<div class="col-md-1 text-right">
					<h3><span class="glyphicon glyphicon-book"></span></h3>
				</div>
				<div class="col-md-9">
					<h3>Titulación universitaria</h3>
			        <p>No tiene titulación titulación universitaria.</p>
				</div>
				<div class="col-md-2">
					<%= image_tag("fail.ico", :alt => "", size: "100" )%>
				</div>
			</div>

			<div class="row bottom-separation">			
				<div class="col-md-1 text-right">
					<h3><span class="glyphicon glyphicon-euro"></span></h3>
				</div>
				<div class="col-md-9">
					<h3>Carrera profesional</h3>
			        <p>No tiene oposición. Tampoco tiene carrera profesional fuera de la política.</p>
				</div>
				<div class="col-md-2">
					<%= image_tag("fail.ico", :alt => "", size: "100" )%>
				</div>
			</div>

			<div class="row">			
				<div class="col-md-1 text-right">
					<h3><span class="glyphicon glyphicon-globe"></span></h3>
				</div>
				<div class="col-md-9">
					<h3>Inglés</h3>
			        <p>No habla inglés.</p>
				</div>
				<div class="col-md-2">
					<%= image_tag("fail.ico", :alt => "", size: "100" )%>
				</div>
			</div>



		</div>

	</div>

	<div class="col-md-3">
	</div>

</div>