
<div class="row">
	<div class="col-md-8">

<!-- BASIC PROFILE INFO -->
		<div class="row box">
			<div class="col-md-3" >
				 <div class="thumbnail">
				 	<%= show_polititian_avatar(@polititian) %>
				 </div>
			</div>
			<div class="col-md-7">
				<h1><%= @polititian.first_name %> <%= @polititian.last_name %></h1>
				<h3><%= @polititian.political_position %></h3>
				<p>	
					<%= if @polititian.political_position_start_at? then @polititian.political_position_start_at.strftime("%Y") end %>
					<%= if @polititian.political_position_end_at? then " - " end %>

					<%= if @polititian.political_position_end_at? then @polititian.political_position_end_at.strftime("%Y") end %>
				</p>
			</div>
			<div class="col-md-2">
				<%= link_to '<span class="glyphicon glyphicon-pencil"></span>  Editar'.html_safe, edit_polititian_path(@polititian), :class => "btn btn-primary btn-lg" %>
			</div>
		</div>



<!-- DETAILED PROFILE INFO SECTIONS -->

		<div class="row box">

	<!-- CORRUPTION -->		
			<div class="bottom-separation">			
				<div class="row ">
					<div class="col-md-1 text-right">
						<h4><span class="glyphicon glyphicon-eye-open"></span></h4>
					</div>
					<div class="col-md-9">
						<h4 class="">Justice procedures</h4>
					</div>
					<div class="col-md-2 text-center">
						<%=check_corruption(@polititian)%>
					</div>
				</div>	

				<div class="row">
					<div class="col-md-offset-1 col-md-9">
						<h4><small><%= if @polititian.trials.count == 0 then "No trials."end %></small></h4>
						<ul class = "no-bullets-list">
							<% @trials.each do |trial| %>
							    <li class="top-separation">
							    	<div class="row">
							    		<div  class="col-md-9">
										    <h5>
										    	<strong>
										    		<%= trial.title%>
										    	</strong>
										    	<small>
										    		<%= if trial.start_at? then trial.start_at.strftime("%Y") end%> 
										    		<%= if (trial.end_at? && trial.start_at?) then "-" end %> 
										    		<%= if trial.end_at? then trial.end_at.strftime("%Y") end%>
										    	</small>
										    </h5>
										</div>
										<div class="col-md-3 text-center">    
										    <h5><small>
										    <%= link_to "Edit", edit_polititian_trial_path(@polititian.id, trial.id) %>
										    <%= link_to "Delete", polititian_trial_path(@polititian.id, trial.id), method: :delete, confirm: "Are you sure?" %>
											</small></h5>
										</div>    
								    </div>
								    <small><%= if !trial.description.nil? then trial.description end %></small>
								</li>   
							<% end %>
							<li><button class="btn btn-primary" data-toggle="modal" data-target="#myModal-trial"><span class="glyphicon glyphicon-plus"></span> Add trial</button></li>
						</ul>
					</div>
				</div>
			</div>




	<!-- EDUCATION -->		
			<div class="bottom-separation">			
				<div class="row ">
					<div class="col-md-1 text-right">
						<h4><span class="glyphicon glyphicon-book"></span></h4>
					</div>
					<div class="col-md-9">
						<h4 class="">Higher education</h4>
					</div>
					<div class="col-md-2 text-center">
						<%=check_education(@polititian)%>
					</div>
				</div>	

				<div class="row">
					<div class="col-md-offset-1 col-md-9">
						<h4><small><%= if @polititian.educations.count == 0 then "No higher education."end %></small></h4>
						<ul class = "no-bullets-list">
							<% @educations.each do |education| %>
							    <li class="top-separation">
							    	<div class="row">
							    		<div  class="col-md-9">
										    <h5>
										    	<strong>
										    		<%= education.degree%>
										    	</strong>
										    	<small>
										    		<%= if education.start_at? then education.start_at.strftime("%Y") end%> 
										    		<%= if (education.end_at? && education.start_at?) then "-" end %> 
										    		<%= if education.end_at? then education.end_at.strftime("%Y") end%>
										    	</small>
										    </h5>
										</div>
										<div class="col-md-3 text-center">    
										    <h5><small>
										    <%= link_to "Edit", edit_polititian_education_path(@polititian.id, education.id) %>
										    <%= link_to "Delete", polititian_education_path(@polititian.id, education.id), method: :delete, confirm: "Are you sure?" %>
											</small></h5>
										</div>    
								    </div>
									<p><%= education.center %><p>
								    <small><%= if !education.description.nil? then education.description end %></small>
								</li>   
							<% end %>
							<li><button class="btn btn-primary" data-toggle="modal" data-target="#myModal-education"><span class="glyphicon glyphicon-plus"></span> Add education</button></li>
						</ul>
					</div>
				</div>
			</div>


	<!-- JOBS & PUBLIC EXAMS-->		
			<div class="">
				<div class="row">			
					<div class="col-md-1 text-right">
						<h4><span class="glyphicon glyphicon-wrench"></span></h4>
					</div>
					<div class="col-md-9">
						<h4 class="">Career outside politics</h4>
					</div>
					<div class="col-md-2 text-center">
						<%=check_job_and_exam(@polititian)%>
					</div>
				</div>

				<div class="row">
					<div class="col-md-offset-1 col-md-9">
						<h4><small><%= if (@polititian.jobs.count + @polititian.exams.count) == 0 then "No professional experience outside politics."end %></small></h4>
						<ul class = "no-bullets-list">

							<!-- Exams -->
							<% @exams.each do |exam| %>
							    <li class="top-separation">
							    	<div class="row">
							    		<div  class="col-md-9">
										    <h5><strong>Public exam:</strong> <%= exam.title%>
										    	<small>
										    		<%= if exam.date? then exam.date.strftime("%Y") end%> 
										    	</small>
										    </h5>
										</div>
										<div class="col-md-3 text-center">    
										    <h5><small>
										    <%= link_to "Edit", edit_polititian_exam_path(@polititian.id, exam.id) %>
										    <%= link_to "Delete", polititian_exam_path(@polititian.id, exam.id), method: :delete, confirm: "Are you sure?" %>
											</small></h5>
										</div>    
								    </div>
								    <small><%= if !exam.description.nil? then exam.description end %></small>
								</li>   
							<% end %>

							<!-- Jobs -->
							<% @jobs.each do |job| %>
							    <li class="top-separation">
							    	<div class="row">
							    		<div  class="col-md-9">
										    <h5><%= job.position%>
										    	<small>
										    		<%= if job.start_at? then job.start_at.strftime("%Y") end%> 
										    		<%= if (job.end_at? && job.start_at?) then "-" end %> 
										    		<%= if job.end_at? then job.end_at.strftime("%Y") end%>
										    	</small>
										    </h5>
										</div>
										<div class="col-md-3 text-center">    
										    <h5><small>
										    <%= link_to "Edit", edit_polititian_job_path(@polititian.id, job.id) %>
										    <%= link_to "Delete", polititian_job_path(@polititian.id, job.id), method: :delete, confirm: "Are you sure?" %>
											</small></h5>
										</div>    
								    </div>
									<p><%=job.employer %><p>
								    <small><%= if !job.description.nil? then job.description end %></small>
								</li>   
							<% end %>
							<li>
								<button class="btn btn-primary" data-toggle="modal" data-target="#myModal-job"><span class="glyphicon glyphicon-plus"></span> Add job</button>
								<button class="btn btn-primary" data-toggle="modal" data-target="#myModal-public-exam"><span class="glyphicon glyphicon-plus"></span> Add public exam</button>
							</li>
						</ul>	
					</div>
				</div>
			</div>
		</div>
	</div>

<!-- RIGHT COLUMN SECTION -->
	<div class="col-md-4">
	</div>

<!-- MODALS -->

	<!-- Modal Trials-->
	<div class="modal fade" id="myModal-trial" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="myModalLabel">Add trial</h4>
	      </div>
	      <div class="modal-body">
			<%= render 'trials/trial_form' %>
	      </div>
	      <div class="modal-footer">
<!-- 	  		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
	  	  </div>	
	    </div>
	  </div>
	</div>


	<!-- Modal Educations-->
	<div class="modal fade" id="myModal-education" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="myModalLabel">Add job</h4>
	      </div>
	      <div class="modal-body">
			<%= render 'educations/education_form' %>
	      </div>
	      <div class="modal-footer">
<!-- 	  		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
	  	  </div>	
	    </div>
	  </div>
	</div>

	<!-- Modal Jobs-->
	<div class="modal fade" id="myModal-job" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="myModalLabel">Add job</h4>
	      </div>
	      <div class="modal-body">
			<%= render 'jobs/job_form' %>
	      </div>
	      <div class="modal-footer">
<!-- 	  		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
	  	  </div>	
	    </div>
	  </div>
	</div>

	<!-- Modal Exams-->
	<div class="modal fade" id="myModal-public-exam" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="myModalLabel">Add exam</h4>
	      </div>
	      <div class="modal-body">
			<%= render 'exams/exam_form' %>
	      </div>
	      <div class="modal-footer">
<!-- 	  		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
	  	  </div>	
	    </div>
	  </div>
	</div>

</div>