
<div class="row">
	<div class="col-md-8">

<!-- BASIC PROFILE INFO -->
		<div class="row box">
			<div class="col-md-3" >
				 <div class="thumbnail">
				 	<%= image_tag @polititian.avatar %>
				 </div>
			</div>
			<div class="col-md-7">
				<h1><%= @polititian.first_name %> <%= @polititian.last_name %></h1>
				<h3><%= @polititian.political_position %></h3>
				<p>	
					<%= if @polititian.political_position_start_at? then @polititian.political_position_start_at.strftime("%Y") end %>
					<%= if @polititian.political_position_end_at? then " - " end %>

					<%= if @polititian.political_position_end_at? then @polititian.political_position_end_at.strftime("%Y") end %>
				</p>
			</div>
			<div class="col-md-2">
				<%= link_to '<span class="glyphicon glyphicon-pencil"></span>  Editar'.html_safe, edit_polititian_path(@polititian), :class => "btn btn-primary btn-lg" %>
			</div>
		</div>



	<!-- CORRUPTION -->		


			<button class="btn btn-primary" data-toggle="modal" data-target="#myModal-trial"><span class="glyphicon glyphicon-plus"></span> Add trial</button>


			<% if @polititian.trials.count != 0 then %>
				<div class="row box">

					<div class="bottom-separation">			
						<div class="row ">
							<div class="col-md-1 text-right">
								<h4><span class="glyphicon glyphicon-eye-open"></span></h4>
							</div>
							<div class="col-md-9">
								<h5 class="">Imputaciones por corrupción</h4>
							</div>
							<div class="col-md-2 text-center">
								<%=check_corruption(@polititian)%>
							</div>
						</div>	

						<div class="row">
							<div class="col-md-offset-1 col-md-9">
								<h4><small><%= if @polititian.trials.count == 0 then "No trials."end %></small></h4>
								<ul class = "no-bullets-list">
									<% @trials.each do |trial| %>
									    <li class="top-separation">
									    	<div class="row">
									    		<div  class="col-md-9">
												    <h5>
												    	<strong>
												    		<%= trial.title%>
												    	</strong>
												    	<small>
												    		<%= if trial.start_at? then trial.start_at.strftime("%Y") end%> 
												    		<%= if (trial.end_at? && trial.start_at?) then "-" end %> 
												    		<%= if trial.end_at? then trial.end_at.strftime("%Y") end%>
												    	</small>
												    </h5>
												</div>
												<div class="col-md-3 text-center">    
												    <h5><small>
												    <%= link_to "Edit", edit_polititian_trial_path(@polititian.id, trial.id) %>
												    <%= link_to "Delete", polititian_trial_path(@polititian.id, trial.id), method: :delete, confirm: "Are you sure?" %>
													</small></h5>
												</div>    
										    </div>
										    <small><%= if !trial.description.nil? then trial.description end %></small>
										</li>   
									<% end %>
									<li><button class="btn btn-primary" data-toggle="modal" data-target="#myModal-trial"><span class="glyphicon glyphicon-plus"></span> Add trial</button></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			<%end%>



<!-- DETAILED PROFILE INFO SECTIONS -->

		<div class="row box">

	<!-- EDUCATION -->		
			<div class="bottom-separation">			
				<div class="row ">
					<div class="col-md-1 text-right">
						<h4><span class="glyphicon glyphicon-book"></span></h4>
					</div>
					<div class="col-md-9">
						<h5 class="">Estudios</h5>
					</div>
					<div class="col-md-2 text-center">
						<%=check_education(@polititian)%>
					</div>
				</div>	

				<div class="row">
					<div class="col-md-offset-1 col-md-10">
						<h4><%= if @polititian.educations.count == 0 then "No higher education."end %></h4>
						<ul class = "no-bullets-list">
							<% @educations.each do |education| %>
							    <li class="well">
								    <h4><span class="label label-warning">NO CONCLUIDOS</span> <strong><%= education.degree%></strong></h4>
								    <h4><small>
											<%= education.center %>		
											<%= if education.start_at? then "(" + education.start_at.strftime("%Y") end%>
								    		<%= if education.end_at? then "-" +education.end_at.strftime("%Y") end%>
								    		<%= if education.start_at? then ")" end %>
								    </small></h4>		
								    <small><%= if !education.description.nil? then education.description end %></small>
								    <h5><small> <%= link_to "Edit", edit_polititian_education_path(@polititian.id, education.id) %> - <%= link_to "Delete", polititian_education_path(@polititian.id, education.id), method: :delete, confirm: "Are you sure?" %> </small></h5>
								</li>   
							<% end %>
							<li><button class="btn btn-primary" data-toggle="modal" data-target="#myModal-education"><span class="glyphicon glyphicon-plus"></span> Add education</button></li>
						</ul>
					</div>
				</div>
			</div>


	<!-- JOBS OUTSIDE POLITICS & PUBLIC EXAMS-->		
			<div class="">
				<div class="row">			
					<div class="col-md-1 text-right">
						<h4><span class="glyphicon glyphicon-wrench"></span></h4>
					</div>
					<div class="col-md-9">
						<h5>Carrera profesional</h5>
					</div>
					<div class="col-md-2 text-center">
						<%=check_job_and_exam(@polititian)%>
					</div>
				</div>

				<div class="row">
					<div class="col-md-offset-1 col-md-10">
						<h4><small><%= if (@polititian.jobs.count + @polititian.exams.count) == 0 then "No professional experience outside politics."end %></small></h4>
						<ul class = "no-bullets-list">

							<!-- Exams -->
							<% @exams.each do |exam| %>
							    <li class="well">
								    <h4></strong><span class="label label-success">OPOSICIONES</span> <%= exam.title%>
								    	<small>
								    		<%= if exam.date? then exam.date.strftime("%Y") end%> 
								    	</small>
								    </h4>
								    <small><%= if !exam.description.nil? then exam.description end %></small>
									<h5><small><%= link_to "Edit", edit_polititian_exam_path(@polititian.id, exam.id) %> - <%= link_to "Delete", polititian_exam_path(@polititian.id, exam.id), method: :delete, confirm: "Are you sure?" %></small></h5>
								</li>   
							<% end %>

							<!-- Jobs -->
							<% @jobs.each do |job| %>
							    <li class="well">
								    <h4><strong><span class="label label-success">NO POLITICO</span> <%= job.position%></strong></h4>
									<h4><small>
										<%=job.employer %>
							    		<%= if job.start_at? then job.start_at.strftime("%Y") end%> 
							    		<%= if (job.end_at? && job.start_at?) then "-" end %> 
							    		<%= if job.end_at? then job.end_at.strftime("%Y") end%>
								    	</small></h4>
								    <small><%= if !job.description.nil? then job.description end %></small>
								    <h5><small><%= link_to "Edit", edit_polititian_job_path(@polititian.id, job.id) %> - <%= link_to "Delete", polititian_job_path(@polititian.id, job.id), method: :delete, confirm: "Are you sure?" %></small></h5>
								</li>   
							<% end %>
							<li>
								<button class="btn btn-primary" data-toggle="modal" data-target="#myModal-job"><span class="glyphicon glyphicon-plus"></span> Add job</button>
								<button class="btn btn-primary" data-toggle="modal" data-target="#myModal-public-exam"><span class="glyphicon glyphicon-plus"></span> Add public exam</button>
							</li>
						</ul>	
					</div>
				</div>
			</div>
		</div>
	</div>

<!-- RIGHT COLUMN SECTION -->
	<div class="col-md-4 box">
		<% if @polititian.affiliations.count == 0 %>
			<div class="row text-center">
				<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal-group"><span class="glyphicon glyphicon-plus"></span> Add Political Party</button>
			</div>	
		<% else %>
			<div class = "row">
				<% @polititian_groups.each do |group| %>
					<div class="row">
						<div class="col-md-6">
							<span class="thumbnail"><%=image_tag group.avatar%></span>
						</div>
						<div class="col-md-6">
							<h5><%= group.name%></h5>
						</div>
					</div>	
				<%end%>
			</div>
		<%end%>				
	</div>



<!-- MODALS -->

	<!-- Modal Trials-->
	<div class="modal fade" id="myModal-trial" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="myModalLabel">Add trial</h4>
	      </div>
	      <div class="modal-body">
			<%= render 'trials/trial_form' %>
	      </div>
	      <div class="modal-footer">
<!-- 	  		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
	  	  </div>	
	    </div>
	  </div>
	</div>


	<!-- Modal Educations-->
	<div class="modal fade" id="myModal-education" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="myModalLabel">Add job</h4>
	      </div>
	      <div class="modal-body">
			<%= render 'educations/education_form' %>
	      </div>
	      <div class="modal-footer">
<!-- 	  		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
	  	  </div>	
	    </div>
	  </div>
	</div>

	<!-- Modal Jobs-->
	<div class="modal fade" id="myModal-job" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="myModalLabel">Add job</h4>
	      </div>
	      <div class="modal-body">
			<%= render 'jobs/job_form' %>
	      </div>
	      <div class="modal-footer">
<!-- 	  		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
	  	  </div>	
	    </div>
	  </div>
	</div>

	<!-- Modal Exams-->
	<div class="modal fade" id="myModal-public-exam" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="myModalLabel">Add exam</h4>
	      </div>
	      <div class="modal-body">
			<%= render 'exams/exam_form' %>
	      </div>
	      <div class="modal-footer">
<!-- 	  		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
	  	  </div>	
	    </div>
	  </div>
	</div>

	<!-- Modal Affiliations-->
	<div class="modal fade" id="myModal-group" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="myModalLabel">Add exam</h4>
	      </div>
	      <div class="modal-body">
			<%= render 'affiliations/form_polititian_profile.html.erb' %>
	      </div>
	      <div class="modal-footer">
<!-- 	  		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
	  	  </div>	
	    </div>
	  </div>
	</div>

</div>