<!DOCTYPE html>
<html>
	<head>
	  <title>Cvpolitics</title>
	  <%= javascript_include_tag "application" %>
	  <%= stylesheet_link_tag    "application", media: "all" %>
	  <%= csrf_meta_tags %>
	</head>

	<body>
		<%= render 'menu' %>
		<div class="row">
			<div class="col-md-offset-1 col-md-10">
				<div>			
					<div class="row">
						<%= flash_message %>
					</div>
					<%= yield %>
				</div>
			</div>
			<div class="col-md-1">
			</div >
		</div >
		<%= render 'footer' %>
	</body>
</html>
